
<form method="post" action="/events/add">
    <label>
        Name of event

        <input type="text" name="name" />
    </label>

    <label>
        Discription
        <input type="text" name="description" />
    </label>


    <input type="submit" value=" Submit" />
</form>


