<h1>Coding Events</h1>

<a asp-controller="Events" asp-action="Add">Add event</a>
<br />
<a asp-controller="Events" asp-action="Delete">Delete event</a>
<br />

@if (ViewBag.events.Count == 0)
{
    <p>There is nothing here </p>
}
else
{
    <h2>UPCOMING EVENTS</h2>
    <table style="width:100%" class="table-dark">
        <tr>
            <th>Event Id</th>
            <th>Event Name</th>
            <th> Event Description</th>

        </tr>

        @foreach (var evt in ViewBag.events)
        {
    <tr>
        <td>@evt.Id</td>
        <td>@evt.Name</td>
        <td>@evt.Description</td>
        <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@evt.Id" class="btn btn-danger">Edit Event</a></td>
    </tr>
        }

    </table>
}
